<!--
 * @Descripttion: 
 * @version: 
 * @Author: xushanshan
 * @Date: 2019-08-13 10:52:06
 * @LastEditors: xushanshan
 * @LastEditTime: 2019-08-13 14:27:27
 -->
<html>
  <head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% block header %} <h3>HEADER</h3> {% endblock %}
    {% block body %} <div>No body</div> {% endblock %}
    {% block footer %} <div>copyright</div> {% endblock %}
  </body>
</html>